<p><%= @products.total_items %> productos en total</p>
<ul class="list clearfix">
  <% @products.items.each do |product| %>
    <li class="product">
      <span class="clip"><img src="<%= product.image.links['small'].href %>" /></span>
      <h4><%= product.title %></h4>
      <p class="price">$<%= product.price %></p>
    </li>
  <% end %>
</ul>